<div class="answer">
	<div class="head">
		<div class="userImage">
			
		</div>
		<div class="userDetail">
			<%= answer.user.first_name %><br>
			Answered <%= answer.created_at.strftime("%b %d") %>
		</div>
	</div>
	<div class="body">
		<div class="content">
			<%= answer.content %>
		</div>

		<% if answer.user_id == current_user.id %>
		<%= link_to 'Show', answer %>
		<%= link_to 'Edit', edit_answer_path(answer) %>
		<%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>

	</div>
</div>