<% if user_signed_in? %>
<div id="form">
	<%= form_for @question, remote: true do |f| %>
	<%= f.text_area :content, placeholder: "What is your question?", :class => 'input'  %> <br>
	<%= f.check_box :anonymous %>
	<%= f.label :Anonymously %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<div class="actions">
		<%= f.submit %>
	</div>
</div>

<% end %>

<% end %>


<div id="questions">
	<% @feed.each do |question| %>
		<section>
			<%= render 'question' ,question: question %>
			<div id="answers">
				<% if user_signed_in? %>

					<%= form_for @answer, remote: true do |f| %>
					<%= f.text_area :content, placeholder: "Write answer...", :class => 'input'  %> <br>
					<%= f.check_box :anonymous %>
					<%= f.label :Anonymously %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.hidden_field :question_id, :value => question.id %>

					<div class="actions">
						<%= f.submit %>
					</div>
				<% end %>

				<% end %>
									<%= div_for question, :class => "rowBox" do %>

				<% @ans_feed.each do|answer| %>
						<% if answer.question_id == question.id %>
							<%= render 'answer', answer: answer %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</section>
	<% end %>
	
</div>



