<!DOCTYPE html>
<html>
<head>
	<title>Quora</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- <li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li> -->






	<div id="header">
		<div>
			<a href="/"><%= image_tag("quora.png", size: "130x50") %></a>
		</div>
		<div>
			<form class="search-container">
				<form action="/" method="get">

					<input name="query" type="text"  id="query" autocomplete="off"  placeholder="What can I help you with today?">
					<div class="row right">

						<button class="btn waves-effect waves-light" type="submit" name="submit">
							<i class="large material-icons">search</i>
						</button>
					</div>
				</form>
				<!-- <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a> -->
			</form>
		</div>
		<div id="profile">
			
			<% if user_signed_in? %>
			<div id="dp">

			</div>
			<div class="dropdown">
				<a class='dropdown-button btn' href='#' data-activates='dropdown1'><%= current_user.first_name %></a>


				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="users/edit"><i class="material-icons">account_circle</i>My Profile</a></li>
					<li><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
					
				</ul>


				<!-- <div id="myDropdown" class="dropdown-content">
					<a href="user/profile">My Profile</a>
					<%= link_to "Sign Out",destroy_user_session_path,method: :delete %>	
				</div> -->
			</div>
			<% else %>
			<div>
				<a href="users/sign_in" class="log">
					Log in or Sign up
				</a>
			</div>

			<% end %>
		</div>
	</div>

	

	<%= yield %>

</body>
</html>
